<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufrst.app.trombi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ActivityAjoutGroupe"/>
        <activity android:name=".ui.ActivityListGroupe" />
        <activity android:name=".ui.ActivityAjoutEleve" />
        <activity android:name=".ui.ActivityListEleve" />
        <activity android:name=".ui.ActivityCapture"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ActivityBDTest" />
        <activity android:name=".ui.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActivityAjoutTrombi" />
        <activity android:name=".ui.ActivityVueTrombi"
            android:screenOrientation="portrait"/>
    </application>

</manifest>